 body {
     margin: 0;
     padding: 0;
     text-align: center;
     font-family: "Poppins", sans-serif;
 }


 .container {
     width: 100%;
     height: auto;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .item {
     padding: 50px 25px 10px 25px;
     /* border:2px solid black; */
 }

 img {
     width: 350px;
 }

 .form-group {
     margin-top: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .form-group input {
     font-size: 20px;
     padding: 5px 15px;
     border: 2px solid #21649e;
 }

 .form-group input:focus {
     outline: none;
 }

 .form-group button {
     border: 2px solid #21649e;
     background-color: #21649e;
     color: white;
     font-size: 20px;
     padding: 5px 15px;
     transition: 0.3s ease;
 }

 .form-group button:hover {
     cursor: pointer;
     background-color: rgba(33, 100, 158, 0.9);
 }


 /* CSS */
 .button-b2 {
     text-decoration: none;
     padding: 10px 20px;
     font-size: 20px;
     border: none;
     outline: none;
     color: rgb(255, 255, 255);
     background: #111;
     cursor: pointer;
     position: relative;
     z-index: 0;
     border-radius: 10px;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
 }

 .button-b2:before {
     content: "";
     background: linear-gradient(45deg,
             #ff0000,
             #ff7300,
             #fffb00,
             #48ff00,
             #00ffd5,
             #002bff,
             #7a00ff,
             #ff00c8,
             #ff0000);
     position: absolute;
     top: -2px;
     left: -2px;
     background-size: 400%;
     z-index: -1;
     filter: blur(5px);
     -webkit-filter: blur(5px);
     width: calc(100% + 4px);
     height: calc(100% + 4px);
     animation: buttonb2 20s linear infinite;
     transition: opacity 0.3s ease-in-out;
     border-radius: 10px;
 }

 @keyframes buttonb2 {
     0% {
         background-position: 0 0;
     }

     50% {
         background-position: 400% 0;
     }

     100% {
         background-position: 0 0;
     }
 }

 .button-b2:after {
     z-index: -1;
     content: "";
     position: absolute;
     width: 100%;
     height: 100%;
     background: #222;
     left: 0;
     top: 0;
     border-radius: 10px;
 }

 #message {
     display: block;
     margin: auto;
     width: 450px;
     font-size: 20px;
     padding: 20px;
     background-color: green;
     color: white;
 }

 .footer {
     position: absolute;
     width: 100%;
     bottom: 0px;
     left: auto;
     right: auto;
 }

 .footer a {
     color: #21649e;
 }

 /* Responsive */

 @media only screen and (min-width: 320px) and (max-width:430px) {
     .item {
         padding: 25px 0px 0px 0px;
     }

     img {
         width: 80%;
     }

     h1 {
         font-size: 25px;
         padding: 0px 15px;
     }

     p {
         padding: 0px 15px;
     }

     .form-group {
         display: block;
         margin: 20px auto;
         width: 80%;
     }

     button {
         margin-top: 10px;
     }

     #message {
         width: 75%;
         font-size: 18px;
     }

     .footer {
         font-size: 14px;
         position: static;
         display: block;
     }
 }